/*#root {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/

/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/
.custom-table thead.table-header-light th {
  background: #f7f8fa !important;
  color: #a6948a !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border-bottom: none !important;
  letter-spacing: 0.01em;
}

.custom-table th, .custom-table td {
  border: none !important;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

.custom-table tbody tr {
  background: #fff !important;
  border-bottom: 1px solid #ececec !important;
}

.custom-table tbody tr:last-child {
  border-bottom: none !important;
}
