.u-overflow-hidden {
	overflow: hidden;
}

.u-overflow-scroll {
	overflow: scroll;
}

.u-disable-selection {
	* {
		outline: 0;
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-webkit-touch-callout: none;
	}
}

.loading-indicator {
    text-align: center;
}

.loading-bullet {
    display: inline-block;
    opacity: 0;
    font-size: 2em;
    color: #02a17c;
}
