$enable-hover-media-query: true;

$font-size-base: calculateRem(13px);

$fa-font-path: '/assets/fonts';

$flagsImagePath: '/assets/img/';

$font-family-sans-serif: 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif;

$font-weight-light: 300;

$font-weight-normal: 400;

$font-weight-semi: 500;

$font-weight-bold: 600;

$gray-100: #FCFCFC;

$gray-200: #F7F7F7;

$gray-300: #F0F0F0;

$gray-400: #EBEBEB;

$gray-500: #E5E5E5;

$gray-600: #D9D9D9;

$gray-700: #C4C4C4;

$gray-800: #B5B5B5;

$gray-900: #9C9C9C;

$primary: #90BC47;

$secondary: #1CA3AE;

$dark: #343E48;

$metallic-gray: #495866;

$light: $gray-300;

$success: $primary;

$info: $secondary;

$danger: #ED2121;

$body-bg: $gray-300;

$body-color: $dark;

$body-color-light: $gray-200;

$border-radius: calculateRem(5px);

$popover-bg: $dark;

$popover-border-color: $dark;

$popover-body-color: $body-color-light;

$table-cell-padding: .6rem;

$modal-content-border-width: 0;

$modal-backdrop-bg: $dark;

$modal-backdrop-opacity: .85;

$modal-header-border-width: 0;

$modal-xl: calculateRem(1200px) !default;

$modal-lg: calculateRem(1000px) !default;

$modal-md: calculateRem(700px) !default;

$modal-sm: calculateRem(300px) !default;

$custom-select-font-size-xl: 0.875rem !default;

$custom-select-height-xl: 58px !default;

$rt-namespace: 'scheduler';

$rt-toast-width: 400px !default;

$rt-toast-min-height: 80px !default;

$hamburger-button-size: calculateRem(16px); 

$hamburger-button-transition: .3s;
