.block-ui {
    position: relative;
    min-height: 3em;
}

.block-ui-container {
    position: absolute;
    z-index: 1010;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 2em;
    cursor: wait;
    overflow: hidden;
}

.block-ui-container:focus {
    outline: none;
}

.block-ui-overlay {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    min-width: 100%;
    min-height: 100%;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
    background-color: white;
    filter: alpha(opacity=50);    
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
}

.block-ui-message-container {
    top: 50%;
    left: 0;
    right: 0;
    z-index: 10001;    
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.block-ui-message {
    color: #333;
    background: none;
    z-index: 1011;
}

/* CSS Animations */
@-webkit-keyframes fadeInRTL1 {
    0% {
        opacity: 0;
        transform: translateX(20px);
        -o-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-webkit-transform: translateX(20px); 
    }
    30% {
        opacity: 1;
        transform: translateX(0px);
    	-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-moz-transform: translateX(0px);
	    -webkit-transform: translateX(0px);
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

@keyframes fadeInRTL1 {
    0% {
        opacity: 0;
        transform: translateX(20px);
        -o-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-webkit-transform: translateX(20px); 
    }
    30% {
        opacity: 1;
        transform: translateX(0px);
    	-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-moz-transform: translateX(0px);
	    -webkit-transform: translateX(0px);
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInRTL2 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        transform: translateX(20px);
        -o-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-webkit-transform: translateX(20px); 
    }
    40% {
        opacity: 1;
        transform: translateX(0px);
    	-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-moz-transform: translateX(0px);
	    -webkit-transform: translateX(0px);
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

@keyframes fadeInRTL2 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        transform: translateX(20px);
        -o-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-webkit-transform: translateX(20px); 
    }
    40% {
        opacity: 1;
        transform: translateX(0px);
    	-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-moz-transform: translateX(0px);
	    -webkit-transform: translateX(0px);
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInRTL3 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        transform: translateX(20px);
        -o-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-webkit-transform: translateX(20px); 
    }
    50% {
        opacity: 1;
        transform: translateX(0px);
    	-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-moz-transform: translateX(0px);
	    -webkit-transform: translateX(0px);
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

@keyframes fadeInRTL3 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        transform: translateX(20px);
        -o-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-moz-transform: translateX(20px);
	   -webkit-transform: translateX(20px); 
    }
    50% {
        opacity: 1;
        transform: translateX(0px);
    	-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-moz-transform: translateX(0px);
	    -webkit-transform: translateX(0px);
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

.loading-bullet {
    display: inline-block;
    opacity: 0;
    -webkit-animation: 3s ease .5s infinite fadeInRTL1;
    animation: 3s ease .5s infinite fadeInRTL1;
}

.loading-bullet + .loading-bullet {
    -webkit-animation-name: fadeInRTL2;
    animation-name: fadeInRTL2;
}

.loading-bullet + .loading-bullet + .loading-bullet {
    -webkit-animation-name: fadeInRTL3;
    animation-name: fadeInRTL3;
}

.block-ui {
	top: 0;
	left: 0;
	z-index: 99999;	
	position: fixed;
	width: 100% !important;
	height: 100% !important;
	min-width: 100% !important;
	min-height: 100% !important;
}

.block-ui-overlay {
	opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	filter: alpha(opacity=100);
	background-color: transparent;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}
