.cookie-consent-container {
    left: 0;
    margin: 0;
    width: 100%;
    color: $white;
    z-index: 9999;
    padding: calculateRem(15px);
    background-color: $secondary;

    .cookie-consent-content {
        font-size: 1rem;

        a {
            color: $white;
            text-decoration: underline;

            &:hover {
                color: $dark;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 1.5rem;
    }

    .cookie-consent-button {
        cursor: pointer;
        font-size: 1rem;
    }
}
