.modal-header {
	color: $white;
	text-transform: uppercase;
	background-color: $secondary;

	.modal-title {
		width: 100%;
		font-size: 1.3rem;
		text-align: center;
	
		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}

	.close {
		margin: 0;
		opacity: 1;
		padding: 0 10px;
		font-weight: bold;
		color: $secondary;
		font-size: 1.3rem;
		line-height: 1.5;
		text-align: center;
		border-radius: 4px;
		background-color: #ffffff;
		
		&:hover {
			color: $dark;
		}
	}
}

.modal-footer {
	border-top: calculateRem(1px) solid $light;
}

.modal-body,
.modal-header {
	position: relative;
	padding: ($grid-gutter-width * 1.5) ($grid-gutter-width * 2);
}

.modal-body {
	h2 {
		font-weight: 500;
		letter-spacing: 0.125rem;
	}
}

.modal-dialog-danger,
.modal-dialog-error {
	.modal-header {
		background-color: $danger;

		.close {
			color: $danger;
			
			&:hover {
				color: $dark;
			}
		}
	}
}

.modal-dialog-success {
	.modal-header {
		background-color: $success;
	}
	
	.close {
		color: $success;
	}
}

.modal-dialog-warning {
	.modal-header {
		background-color: $warning;
	}
	
	.close {
		color: $warning;
	}
}

.modal-item-clickable {
	&:hover {
		cursor: pointer;
	}
}
