.#{$rt-namespace}__toast-container {
	width: auto;
	min-width: 400px;
	
	.#{$rt-namespace}__toast {
    	padding: 0;
    	box-shadow: none;
    	font-family: inherit;
    	border-radius: calculateRem(4px);
    	
    	.#{$rt-namespace}__toast-body {
	    }
    	
    	.toast-close-button,
    	.#{$rt-namespace}__close-button {
			opacity: 1;
			border: none;
			outline: none;
			cursor: pointer;
			line-height: 1.5;
			color: $secondary;
			font-size: 1.3rem;
			font-weight: bold;
			align-self: flex-start;
			background-color: $white;
			margin: calculateRem(5px);
			padding: 0 calculateRem(10px);
			border-radius: calculateRem(4px);
			
			&:focus,
			&:hover, 
			&--default {
				color: $dark;
			}
		}
		
		.toast-close-button {
			margin: calculateRem(15px);
    	}
	}
	
	.#{$rt-namespace}__toast--info {
		.toast-close-button {
			color: $rt-color-info;
			margin: calculateRem(15px);
		}
	}
	
	.#{$rt-namespace}__toast--success {
		.toast-close-button {
			color: $rt-color-success;
			margin: calculateRem(15px);
		}
	}
	
	.#{$rt-namespace}__toast--error {
		.toast-close-button {
			color: $rt-color-error;
			margin: calculateRem(15px);
		}
	}
	
	.#{$rt-namespace}__toast--warning {
		.toast-close-button {
			color: $rt-color-warning;
			margin: calculateRem(15px);
		}
	}
}

@media #{$rt-mobile} {
	.#{$rt-namespace}__toast-container {
		margin-bottom: 0;
		top:0 !important;
		left:0 !important;
		border: 0 !important;
		border-radius: 0 !important;
		
		.#{$rt-namespace}__toast {
    		border-radius: 0 !important;
		}
	}
}

